*{
    margin:5px;
    padding:5px;
    
}

h1{
    text-align:center;
}
.online-shopping-container{
    max-width:800px;
    background-color: white;
    margin: 10px auto;
    padding:10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 grey;
}
body{
    background-color: rgb(205, 212, 219);
    
    
}
.product-row{
    display:flex;
    justify-content: space-between;
    border:2px solid black;
    padding:10px;
    border-radius: 5px;
    align-items: center;
    vertical-align:middle;
}
button{
    background-color: rgb(5, 5, 249);
    border-radius: 5px;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;

}
button:hover{
background-color: rgb(5, 132, 216);
}

#feedback{
    top:0;
    right: 90px;;
    position: fixed;
    background-color: blue;
    color:white;
    padding:20px;
    display:none;
}
#totalprice{
    text-align: right;
}